.Contact{
    padding-top: 6%;
}


.h2{
    font-size: 5ch;
    text-align: center;
    padding-left: 30px ;
    color: black;
}

.p{
  text-align: center;
    padding-left: 30px ;
    padding-right: 30px ;
    color: black;  
}

.profile{
  margin: 20px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
}

.pro1{
  margin: 10px;
  text-align: center;
  border: solid rgb(58, 52, 52);
}
.pro1 img{
  height: 350px;
  padding-top: 20px;
}